@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@model IEnumerable<Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Blog</h1>
<br />

<a asp-action="Create">
    <button type="button" class="btn btn-outline-primary btn-lg float-right">
        Create New
    </button>
</a>
<br />

@foreach (var item in Model.OrderByDescending(item => item.CreatedAt))
{
    var author = item.Author as ApplicationUser;
    var avatar = author?.Avatar;

    @if (!string.IsNullOrEmpty(avatar))
    {
        var avatarPath = "/avatars/" + author.Id + "_avatar.jpg";
        <img src="@avatarPath" alt="User Profile" class="rounded-circle float-left" />
    }
    else
    {
        <img src="/avatars/default-avatar.jpg" alt="Default Profile" class="rounded-circle float-left" />
    }

    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
    <hr />
    <p>@Html.DisplayFor(modelItem => item.Body)</p>
    <p>Comments: @Html.DisplayFor(modelItem => item.Comments.Count)</p>

    <form asp-action="AddComment" method="post">
        <input type="hidden" name="postId" value="@item.Id" />
        <div class="form-group">
            <label for="comment-body">Comment:</label>
            <input type="text" name="body" class="form-control comment-body" placeholder="Add your reaction" />
            <br />
            <button type="submit" class="btn btn-primary">Add Comment</button>
            <div class="button-container" style="float:right">
                @if (item.AuthorId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <a type="button" class="btn btn-success mr-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a type="button" class="btn btn-info mr-2" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                else
                {
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                }
            </div>
        </div>
    </form>

    <hr /> <!-- Optional horizontal line to separate posts visually -->
}
